.header-wrapper {
  background: white;
  display: table;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.header {
  text-align: center;
  height: 61px;
  vertical-align: middle;
  display: table-cell;
  padding: 0 10px;

  div {
    padding: 10px;
  }

  button {
    padding: 5px 13px;
    background: #8bc34a;
    border: none;
    border-radius: 3px;
    color: white;
  }

  .btn-menu {
    float: left;
  }

  .btn-notification {
    float: right;
    position: relative;
    button {
      background: white;
      i {
        color: #b3b3b3;
        font-size: 18px;
      }
      span {
        background: rgba(248, 172, 89, 0.78);
        padding: 0 5px;
        font-size: 12px;
        border-radius: 2px;
        position: absolute;
        top: 5px;
        right: 12px;
      }
    }
  }
}

