.pivo {
  margin-bottom: 25px;
}

.pivo-card {
  .card {
    border: solid 1px #e7eaec;
    background: white;
  }

  .card-block {
    padding: 15px;
    border-bottom: solid 1px #e7eaec;
    i {
      padding-right: 5px;
    }
  }

  .title {
    background: white;
    h4 {
      margin: 0;
      line-height: 3;
      padding: 0 15px;
      font-size: 14px;
    }
  }
}

.pivo-image {
  height: 215px;
}

.status {
  padding: 15px;
  text-align: center;
  background: #dff0d8;
  border: solid 1px #d6e9c6;
  color: #3c763d;
  border-radius: 4px;
  margin-bottom: 20px;
}

.card-footer {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    color: #1ab394;
  }

  button, a {
    border: solid 1px #1ab394;
    background: white;
    padding: 6px 12px;
    border-radius: 3px;
    transition: all .5s;
  }

  button:hover, a:hover {
    background: #1ab394;

    i {
      color: white;
    }
  }
}

#modal {
  .modal-title {
    font-weight: 600;
    font-size: 14px;
  }
}
