@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../vendor/weather-icons-master/css/weather-icons.css';
@import '../vendor/weather-icons-master/css/weather-icons-wind.css';
@import 'components/header.scss';
@import 'components/summary.scss';
@import 'components/info-card.scss';

.client-name {
  text-align: center;
  border-bottom: solid 1px #ebebeb;

  h2 {
    margin: 0;
    line-height: 2;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.wraper-content {
  background: #f4f6fa;

  .container {
    width: 100%;
  }
}

