@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/chartist/dist/scss/chartist.scss';
@import '../vendor/weather-icons-master/css/weather-icons.css';
@import '../vendor/weather-icons-master/css/weather-icons-wind.css';
@import 'components/header.scss';
@import 'components/summary.scss';
@import 'components/info-card.scss';
@import 'components/weather-forecast.scss';
@import 'components/sidebar.scss';
@import 'components/lineareachart.scss';
@import 'components/footer.scss';

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c;
  padding: 61px 0 0 0;
}

.client-name {
  text-align: center;
  border-bottom: solid 1px #ebebeb;

  h2 {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    line-height: 3.2;
  }
}

h4 {
  font-weight: 600;
  font-size: 15px;
}

.wraper-content {
  background: #f4f6fa;

  .container {
    width: 100%;
  }
}

button:focus {
  outline: none;
}
